# Maven build files
target/

# IntelliJ project files
*.iml
*.ipr
*.iws
.idea/

# Eclipse project files
.settings/
.classpath
.project
.metadata
.loadpath
bin/

#Netbeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml